---
import MicroProofElement from "./MicroProofElement.astro";
import PulseBeams from "../ui/PulseBeams.astro";
---

<section class="relative bg-gradient-to-b from-primary-800 to-primary-900 text-white pt-20 pb-10">
  <div class="absolute inset-0 opacity-10">
    <div
      class="absolute inset-0 bg-[url('/images/clients/crown/grid-pattern.svg')] bg-repeat opacity-20"
    >
    </div>
  </div>

  <div class="container mx-auto px-4 relative z-10">
    <div class="max-w-6xl mx-auto">
      <div class="text-center">
        <h1 class="text-4xl text-secondary-400 md:text-4xl lg:text-5xl font-heading mb-8 font-bold">
          Financial Clarity for Growing Startups
        </h1>

        <p class="text-xl md:text-2xl mb-8">
          We help early-stage startups optimize their financial ops with C level support.
        </p>

        <div class="flex flex-col sm:flex-row gap-4 justify-center">
          <!-- <a
            href="#features"
            class="btn bg-primary-700 hover:bg-primary-600 text-white px-8 py-3 rounded-md transition-all"
          >
            See what we fix
          </a>
          <a
            href="#contact"
            class="btn border border-secondary-400 hover:bg-secondary-500 hover:text-primary-900 text-secondary-300 px-8 py-3 rounded-md transition-all"
          >
            Schedule a consultation
          </a> -->
          <!-- Pulse Beams Background Animation -->
          <PulseBeams
            showButton={true}
            buttonLink="https://calendly.com/mhachicha-crownacquisitiongroup"
            buttonText="Connect the dots"
            buttonClass="btn border border-secondary-400 hover:bg-secondary-500 hover:text-primary-900 text-secondary-300 px-8 py-3 rounded-md transition-all"
          />
        </div>

        <MicroProofElement />
      </div>
    </div>
  </div>
</section>
