---
---

<div class="micro-proof w-full">
  <div class="w-full py-8 px-10 bg-primary-700 rounded-lg bg-opacity-50" style="margin-top: 15rem;">
    <div class="flex flex-col md:flex-row justify-between items-center md:items-start gap-8">
      <!-- Proof 1 - $150M+ -->
      <div class="flex flex-col items-center">
        <p class="text-accent-300 text-3xl font-bold mb-1">$150M+</p>
        <p class="text-secondary-400 text-sm font-medium mb-1">Capital Raised for</p>
        <div class="text-white text-xl font-medium">SaaS founders</div>
      </div>
      
      <!-- Proof 2 - $1B+ -->
      <div class="flex flex-col items-center">
        <p class="text-accent-300 text-3xl font-bold mb-1">$1B+</p>
        <p class="text-secondary-400 text-sm font-medium mb-1">Value Created Across</p>
        <div class="text-white text-xl font-medium">Fintech & Healthcare</div>
      </div>
      
      <!-- Proof 3 - 4-6 weeks -->
      <div class="flex flex-col items-center">
        <p class="text-accent-300 text-3xl font-bold mb-1">4 - 6 weeks</p>
        <p class="text-secondary-400 text-sm font-medium mb-1">Average time to</p>
        <div class="text-white text-xl font-medium">Financial clarity</div>
      </div>
    </div>
  </div>
</div>